@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;700&family=Mohave:wght@400;700&display=swap");
body {
  height: 100vh;
  background-color: antiquewhite;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #fff8e9;
  }
  body .navLeft {
    width: 100%;
    height: 100px;
  }
  body #menu {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    height: 50px;
    font-size: 38px;
    text-shadow: 2px 2px 2px black;
    color: #ead1b0;
    font-family: "Mohave", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  body .navLeft {
    display: none;
  }
}

.mainBody {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("./components/hill.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.emptyMain {
  display: none;
}

#fog {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 500px;
  opacity: 0.6;
  -webkit-animation-name: mistic;
          animation-name: mistic;
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes mistic {
  0% {
    left: -50%;
    bottom: 0%;
  }
  75% {
    left: 0px;
    bottom: -50%;
  }
  100% {
    left: 0px;
    bottom: -100%;
  }
}

@keyframes mistic {
  0% {
    left: -50%;
    bottom: 0%;
  }
  75% {
    left: 0px;
    bottom: -50%;
  }
  100% {
    left: 0px;
    bottom: -100%;
  }
}

#fog2 {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  bottom: 0;
  width: 200%;
  height: 1100px;
  opacity: 0.5;
  -webkit-animation-name: mist;
          animation-name: mist;
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes mist {
  0% {
    right: -50%;
    bottom: 0%;
  }
  75% {
    right: 0px;
    bottom: -50%;
  }
  100% {
    right: 0px;
    bottom: -100%;
  }
}

@keyframes mist {
  0% {
    right: -50%;
    bottom: 0%;
  }
  75% {
    right: 0px;
    bottom: -50%;
  }
  100% {
    right: 0px;
    bottom: -100%;
  }
}

.middle {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 400px;
  gap: 20px;
}

.navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100px;
  gap: 20px;
}

.navDropped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin: auto;
  position: fixed;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #be3939;
  z-index: 5;
  left: 0;
  color: antiquewhite;
  -webkit-animation-name: miniMenu;
          animation-name: miniMenu;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  overflow: hidden;
}

@-webkit-keyframes miniMenu {
  0% {
    height: 0vh;
  }
  100% {
    height: calc(100vh - 50px);
  }
}

@keyframes miniMenu {
  0% {
    height: 0vh;
  }
  100% {
    height: calc(100vh - 50px);
  }
}

#menu {
  display: none;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 50px;
  -webkit-animation: show 3s;
          animation: show 3s;
  border-radius: 27px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 38px;
  text-shadow: 3px 3px 2px black, -1px -1px 4px #aeaeae;
  color: #f6ede1;
  font-family: "Mohave", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@-webkit-keyframes show {
  from {
    color: #a18b7400;
  }
  to {
    color: antiquewhite;
  }
}

@keyframes show {
  from {
    color: #a18b7400;
  }
  to {
    color: antiquewhite;
  }
}

a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-decoration: none;
  width: 400px;
  height: 50px;
  background: rgba(221, 186, 97, 0.2);
  margin-top: 10px;
  padding: 0px;
  padding-left: 60px;
  padding-right: 60px;
  text-shadow: 2px 2px 2px black;
  font-family: "Mohave", serif;
  font-size: xx-large;
  font-weight: 800;
  color: #be3939;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 20px;
}

.lineMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 20px;
}

.lineLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 20px;
}

#line {
  width: 70%;
  height: 6%;
  -webkit-animation: slideIn 3s;
          animation: slideIn 3s;
  background-color: #a18b74;
  -webkit-box-shadow: rgba(76, 76, 76, 0.8) 2px 4px 6px;
          box-shadow: rgba(76, 76, 76, 0.8) 2px 4px 6px;
}

@-webkit-keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

#sphere1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a18b74;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-box-shadow: rgba(76, 76, 76, 0.8) 2px 4px 6px;
          box-shadow: rgba(76, 76, 76, 0.8) 2px 4px 6px;
}

.sphereMiddle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a18b74;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.sphereLeft {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a18b74;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-box-shadow: rgba(76, 76, 76, 0.8) 2px 4px 6px;
          box-shadow: rgba(76, 76, 76, 0.8) 2px 4px 6px;
}
/*# sourceMappingURL=App.css.map */