@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

body{
  height: 100vh;
  background-color: #FCF0E3;  
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.left{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  width: 100%;
  height: fit-content;
}

.navMiddle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 300px;

  gap: 20px;
}

.navLeft{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: 100px;

  gap: 20px;
}

a{
  display: flex;
  align-content: center;
  justify-content: center;

  text-decoration: none;
 
  width: 80%;
  height: 50px;

  animation: show 3s;

  border-radius: 27px;
  padding-top: 10px;

  font-size: xx-large;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
  color: #A18B74;
  font-family: 'Quattrocento', serif;

  cursor:pointer;
  
}

@keyframes show {
  from {
    color: #a18b7400;
  }
  to {
    color: #917e69;
  }
}

a:focus{
  display: flex;
  align-content: center;
  justify-content: center;

  text-decoration: none;
 
  width:300px;
  height: 40px;

  background: rgba(221, 186, 97, 0.2);

  margin-top: 10px;

  padding-left: 60px;
  padding-right: 60px;

  font-family: 'Quattrocento', serif;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
  font-size: xx-large;
  font-weight: bold;
  color: #281909b3;

  cursor: pointer;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.line1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  width: 100%;
  height: 20px;
}

.lineMiddle{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  width: 100%;
  height: 20px;
}

.lineLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: 20px;
}

#line{
  width: 70%;
  height: 1%;

  animation: slideIn 3s;

  background-color: #A18B74;
}

@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width:70%
  }
}

#sphere1{
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #A18B74;
  transform: translate(0,50%);
}

.sphereMiddle{
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #A18B74;
  transform: translate(0,-50%);
}

.sphereLeft{
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #A18B74;
  transform: translate(0,50%);
}