@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;700&family=Quattrocento:wght@400;700&display=swap');



.expBack{
    display: grid;
    grid-template-columns: [line1] 300px [line2] 300px [line3] auto [line4] 300px [line5] 200px [lastLine];
    grid-template-rows: [row1] 300px [row2] 300px [row3] 300px [row4] 500px [row5] 300px [row6] 200px [row7] 400px [row8] 200px [lastRow];

    grid-template-areas:
    "head head call call ."
    " year desc  desc me ."  
    " year1 desc1 desc1 . ."
    " year2 gimiregen . desc2 ."
    " year3 year3 desc3 desc2 ."    
    "desc5 desc5 desc5 year4 desc4 "
  
    " year5 year5 gundel desc6  desc6 "
    ;

    width: 100%;
    height: 4000px;

    background-color: antiquewhite;

    
}

.container{
     grid-area: me;

    width:100%;
    height: 3800px;
    
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  

img{
    align-self: center;

    height: 300px;
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

}
.year{
    grid-area: year;
    color: #edd48e;
    padding-left: 80px;
    font-size: 80px;
    font-family: 'Mohave', sans-serif;
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 2px 4px 6px;
}

.expCard{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: desc;
    color: #000000;
   
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 6px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color:#edede7dd;
    grid-area: call;
    color: #5e0a0a;
    text-transform: uppercase;
    padding-left: 80px;
    font-size: 40px;
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    text-shadow: rgba(59, 15, 15, 0.8) 2px 4px 6px;
}

.year.one {
 grid-area: year1;
}

.expCard.one {
    
    grid-area: desc1;
}

.year.two {
    grid-area: year2;
   }

.expCard.two {
    margin-top: 160px;
    margin-left: 20px;
    grid-area: desc2;
}

#gimiregen.reveal{
    width: 600px;
    border-radius: 4px 4px 4px 4px;
    grid-area: gimiregen;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.year.three {
    color: #000000;
    grid-area: year3;
    font-size: 160px;
    text-shadow: rgba(163, 163, 163, 0.3) 2px 4px 4px;
   }

.expCard.three {
    color: #edd48e;
   
    margin-right: 100px;
    grid-area: desc3;
}

.year.four {
    
    grid-area: year4;
   }

.expCard.four {
    margin-top: 160px;
    margin-right: 40px;
    grid-area: desc4;
    font-size: 20px;
}

.year.five {
   
    margin: auto;
    font-size: 120px;
    grid-area: year5;
   }

.expCard.five {
    margin-top: 160px;
    margin-left: 10px;
    grid-area: desc5;
    font-size: 30px;
    color: #5e0a0a;

    display: flex;
    flex-direction: column;
}

.expCard.six {
    margin-top: 160px;
    margin-right: 40px;
    grid-area: desc6;
    font-size: 20px;
    color: #000000;

}

#gundel{
    width: 300px;
    grid-area: gundel;
    align-self: center;
}

#circleLeft{
    position: fixed;
    
    left: 0;
    top: 0%;
    /* border-top:2px solid #942c31 ; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

h1{ 
    grid-area: head;
    
   text-transform: uppercase;
    color: #942c31;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
                 0px -5px 10px rgba(255,255,255,0.15),
                0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Quattrocento', serif;
    font-size: 80px;
    margin-left: 140px;
    
    letter-spacing: 8px;
}







