@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;700&family=Quattrocento:wght@400;700&display=swap");
.expBack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [line1] 300px [line2] 300px [line3] auto [line4] 300px [line5] 200px [lastLine];
      grid-template-columns: [line1] 300px [line2] 300px [line3] auto [line4] 300px [line5] 200px [lastLine];
  -ms-grid-rows: [row1] 300px [row2] 300px [row3] 300px [row4] 500px [row5] 300px [row6] 200px [row7] 400px [row8] 200px [lastRow];
      grid-template-rows: [row1] 300px [row2] 300px [row3] 300px [row4] 500px [row5] 300px [row6] 200px [row7] 400px [row8] 200px [lastRow];
      grid-template-areas: "head head call call ." " year desc  desc me ."   " year1 desc1 desc1 . ." " year2 gimiregen . desc2 ." " year3 year3 desc3 desc2 ."     "desc5 desc5 desc5 year4 desc4 "  " year5 year5 gundel desc6  desc6 ";
  width: 100%;
  height: 4000px;
  background-color: antiquewhite;
}

.container {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: me;
  width: 100%;
  height: 3800px;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.reveal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.reveal.active img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.year {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: year;
  color: #edd48e;
  padding-left: 80px;
  font-size: 80px;
  font-family: 'Mohave', sans-serif;
  font-weight: 800;
  text-shadow: black 2px 4px 6px;
}

.expCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: desc;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Mohave', sans-serif;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 6px;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #edede7dd;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: call;
  color: #5e0a0a;
  text-transform: uppercase;
  padding-left: 80px;
  font-size: 40px;
  font-family: 'Mohave', sans-serif;
  font-weight: 400;
  text-shadow: rgba(59, 15, 15, 0.8) 2px 4px 6px;
}

.year.one {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: year1;
}

.expCard.one {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: desc1;
}

.year.two {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: year2;
}

.expCard.two {
  margin-top: 160px;
  margin-left: 20px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: desc2;
}

#gimiregen.reveal {
  width: 600px;
  border-radius: 4px 4px 4px 4px;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: gimiregen;
  margin-top: 60px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.year.three {
  color: #000000;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: year3;
  font-size: 160px;
  text-shadow: rgba(163, 163, 163, 0.3) 2px 4px 4px;
}

.expCard.three {
  color: #edd48e;
  margin-right: 100px;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: desc3;
}

.year.four {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: year4;
}

.expCard.four {
  margin-top: 160px;
  margin-right: 40px;
  -ms-grid-row: 6;
  -ms-grid-column: 5;
  grid-area: desc4;
  font-size: 20px;
}

.year.five {
  margin: auto;
  font-size: 120px;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: year5;
}

.expCard.five {
  margin-top: 160px;
  margin-left: 10px;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: desc5;
  font-size: 30px;
  color: #5e0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expCard.six {
  margin-top: 160px;
  margin-right: 40px;
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: desc6;
  font-size: 20px;
  color: #000000;
}

#gundel {
  width: 300px;
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: gundel;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#circleLeft {
  position: fixed;
  left: 0;
  top: 0%;
  /* border-top:2px solid #942c31 ; */
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  text-transform: uppercase;
  color: #942c31;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(255, 255, 255, 0.15), 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-family: 'Quattrocento', serif;
  font-size: 80px;
  margin-left: 140px;
  letter-spacing: 8px;
}
/*# sourceMappingURL=experience.css.map */