#app { height: 100% }

.MySwiperBody {
  position: relative;
  height: 100vh;
}

.MySwiperBody {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 400px;

}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.42) 0px 15px 18px;
}

@media screen and (max-width: 600px) {
  
  .MySwiperBody {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
  }
  img{
    width:70%;
    border-radius: 50%;


  }


}